*~
*.DS_Store
*.log
*.pdf
**/*.o
**/*.so
**/*.d
**/*.bo
**/*.pyc
bin/*
*/stat.txt
evaluation/*.txt
evaluation/*.json
evaluation/*_pes-*_l2banks.icnt
test/out/*.out
src/common.mk
tools/*.cel
tools/*.sel
tools/*.adj
tools/*.sadj
tools/*.bin
tools/*.txt
*/*/.gdb_history
temp/
**/tags
